<div class="assignment center small">

<h2>Edit Assignment</h2>

<%= form_for @assignment, class: "form-group" do |f| %>

    <label>Title</label> <br>
    <%= f.text_field :title, class: "form-control" %> <br><br>

    <label>Url</label>  <br>
    <%= f.text_field :url, class: "form-control" %> <br><br>

    <%= f.submit "Save changes", :class => "btn btn-primary" %>

<% end %> <br>

<%= button_to "Delete assignment", assignment_path(@assignment), :method => "delete", :class => "btn btn-default" %>

</div>

<script>

var divwidth = $( "form" ).width();

$(document).ready(function(){
    $( "div.assignment" ).css({width: divwidth});
})

</script>