<div class="assignment center small">

<h2>Assignments</h2>

<%= ( button_to "New assignment", new_assignment_path, method: "get", class: "btn btn-warning" ) if ( current_user.role == "instructor" )%> <br>

<% if @assignments.empty? %>
	<p>No assignments</p>
<% else %>


<table>

	<% @assignments.each do |f| %>
	
		<tr>
	    	<td>
	      		<%= link_to f.title, "#{f.url}", :target => "_blank" %>
	      	</td>
	      	<% if ( current_user.role == "student" ) %>
	      	<td>
	      		<%= button_to "Submit", new_lab_path, :method => "get", :class => "btn btn-default" %>
			</td>
			<% end %>
			<% if current_user.role == "instructor" %>
	      	<td>
	      		<%= button_to "View submissions", submissions_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
			<% end %>
	      	<td>
	      		<%= ( button_to "Edit", edit_assignment_path(f), :method => "get", :class => "btn btn-default" ) if ( current_user.role == "instructor" ) %>
			</td>
    	</tr>
 
	<% end %>

</table><br>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.assignment" ).css({width: divwidth});
})

</script>