<div class="resource center small">

<h2>Users</h2>

<table>

	<% @users.each do |user| %>
	
		<tr>
			<td>
				<%= user.firstname %>
				<%= user.lastname %> <br>
	      		<%= user.email %>
	      	</td>
			<td>
	      		<%= user.role %>
			</td>
			<td>
	      		<%= button_to "Change role", role_form_path(user), :method => "get", :class => "btn btn-default" %>
			</td>
    	</tr>
 
	<% end %>

</table><br>

</div>