<div class="event center small">

<h2><%= @user.firstname %><%= @user.lastname %></h2>

<%= @user.email %> <br><br>

<h3>Events</h3>

<% @user.events.each do |event| %>
	<%= link_to event.title, event_path(event) %> <br>
<% end %>

<h3>Projects</h3>

<% @user.projects.each do |project| %>
	<%= link_to project.title, project_path(project) %> <br>
<% end %>


</div>