<div class="event center medium">

<h2>Events</h2>

<%= ( button_to "New event", new_event_path, method: "get", class: "btn btn-warning" ) if ( current_user.role == "coordinator" )%> <br>

<% if @events.empty? %>

	<p>No events</p>

<% else %>

<table>

	<% @events.each do |f| %>
	
		<tr>
	    	<td>
	      		<%= f.date.strftime("%a, %b %e") %> <br>
	      		<%= f.time.strftime("%l:%M %p") %>
	      	</td>
	      	
	    	<td>
	      		<span class="tabletitle"><%= f.title %> <br></span>
	      		<p class="tabledescription"><%= f.location %> <br>
	      		<%= f.description %> <span class="cost">$<%= f.cost %></span></p>
	      	</td>

	      	<% unless current_user.role == "coordinator" %>
	      	<td>
	      		<% if current_user.events.include?(f) %>
		      		<%= button_to "Cancel", cancel_rsvp_path(f), :method => "get", :class => "btn btn-default cancel" %>
		      	<% else %>
		      		<%= button_to "Attend", rsvp_path(f), :method => "get", :class => "btn btn-default attend" %>
		      	<% end %>
			</td>
			<% end %>

	      	<td>
	      		<%= button_to "Who's attending", event_path(f), :method => "get", :class => "btn btn-default" %>
			</td>

			<% if current_user.role == "coordinator" %>
	      	<td>
	      		<%= button_to "Edit", edit_event_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
			<% end %>
    	</tr>
 
	<% end %>

</table> <br>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.event" ).css({width: divwidth});
})

</script>