<div class="event center medium">

<h2>Events</h2>

<%= button_to "New event", new_event_path, method: "get", class: "btn btn-warning" %> <br>

<table>

	<% @events.each do |f| %>
	
		<tr>
	    	<td>
	      		<%= f.date.strftime("%a, %b %e") %> <br>
	      		<%= f.time.strftime("%l:%M %p") %>
	      	</td>
	    	<td>
	      		<%= f.title %> <br>
	      		<%= f.location %> <br>
	      		<%= f.description %>
	      		$<%= f.cost %>
	      	</td>
	      	<td>
	      		<% if current_user.events.include?(f) %>
		      		<%= button_to "Cancel", cancel_rsvp_path(f), :method => "get", :class => "btn btn-default" %>
		      	<% else %>
		      		<%= button_to "Attend", rsvp_path(f), :method => "get", :class => "btn btn-default" %>
		      	<% end %>
			</td>
	      	<td>
	      		<%= button_to "Students attending", event_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
	      	<td>
	      		<%= button_to "Edit", edit_event_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
    	</tr>
 
	<% end %>

</table><br>

</div>