<div class="event center small">

<h2>New Assignment</h2>

<%= form_for @event, class: "form-group" do |f| %>

    <label>Title</label> <br>
    <%= f.text_field :title, class: "form-control" %> <br><br>

    <label>Date</label>  <br>
    <%= f.date_field :date, class: "form-control" %> <br><br>

    <label>Time</label>  <br>
    <%= f.time_field :time, class: "form-control" %> <br><br>

    <label>Location</label>  <br>
    <%= f.text_field :location, class: "form-control" %> <br><br>

    <label>Description</label>  <br>
    <%= f.text_area :description, class: "form-control" %> <br><br>

    <label>Cost</label>  <br>
    <%= f.number_field :cost, class: "form-control" %> <br><br>

    <%= f.submit "Save", :class => "btn btn-default" %>

<% end %>

</div>