<div class="project center medium">

<h2>Projects</h2>

<% if current_user.role == "student" %>
	<%= button_to "New project", new_project_path, method: "get", class: "btn btn-warning" %> <br>
<% end %>

<% if @projects.empty? %>

	<p class="none">No projects</p>

<% else %>

	<table>

		<% @projects.each do |f| %>
		
			<tr>
		    	<td>
		      		<span class="tabletitle"><%= link_to f.title, "#{f.url}", :target => "_blank" %> <br></span>
		      		<p class="technology"><%= f.technology %></p>
		      		<p class="tabledescription"><%= f.description %></p>
		      	</td>

				<td>
		      		<% f.users.each do |user| %>
		      			<span class="lightgrey"><%= user.firstname %> <br></span>
		      		<% end %>
				</td>

				<% if current_user.role == "student" %>
				<td>
		      		<% if current_user.projects.include?(f) %>
			      		<%= button_to "Leave", leave_project_path(f), :method => "get", :class => "btn btn-default" %>
			      	<% else %>
			      		<%= button_to "Join", join_project_path(f), :method => "get", :class => "btn btn-default" %>
			      	<% end %>
			    </td>
			    <% end %>
			    
				<td>
		      		<%= ( button_to "Edit", edit_project_path(f), :method => "get", :class => "btn btn-default" ) if ( current_user.projects.include?(f) )%>
				</td>
	    	</tr>
	 
		<% end %>

	</table><br>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.project" ).css({width: divwidth});
})

</script>