<div class="resource center medium">

<h2>Resources</h2>

<%= ( button_to "New resource", new_resource_path, method: "get", class: "btn btn-warning" ) unless ( current_user.role == "coordinator" ) %> <br>

<% if @resources.empty? %>

	<p>No resources</p>

<% else %>

	<h3>From students</h3>

	<table>

		<% @resources.each do |f| %>
			<% if !f.user.nil? && f.user.role == "student" %>
			<tr>
				<td>
		      		<span class="tabletitle"><%= link_to f.title, "#{f.url}", :target => "_blank" %> <br></span>
		      		<p class="tabledescription"><%= f.description %></p>
		      	</td>

				<td>
		      		<span class="lightgrey"><%= f.user.firstname %></span>
		      	</td>

				<td>
				<% if current_user.resources.include? (f) %>
		      		<%= button_to "Edit", edit_resource_path(f), :method => "get", :class => "btn btn-default" %>
		      	<% end %>
				</td>
				
	    	</tr>
			<% end %>
		<% end %>

	</table><br>

	<h3>From instructors</h3>

	<table>

		<% @resources.each do |f| %>
			<% if !f.user.nil? && f.user.role == "instructor" %>
			<tr>
				<td>
		      		<span class="tabletitle"><%= link_to f.title, "#{f.url}", :target => "_blank" %> <br></span>
		      		<p class="tabledescription"><%= f.description %></p>
		      	</td>

				<td>
		      		<span class="lightgrey"><%= f.user.firstname %></span>
		      	</td>
		      	
				<td>
				<% if current_user.resources.include? (f) %>
		      		<%= button_to "Edit", edit_resource_path(f), :method => "get", :class => "btn btn-default" %>
		      	<% end %>
				</td>
	    	</tr>
	    	<% end %>
		<% end %>

	</table>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
	$( "div.resource" ).css({width: divwidth});
})

</script>