<div class="resource center small">

<h2>Resources</h2>

<%= button_to "New resource", new_resource_path, method: "get", class: "btn btn-warning" %> <br>

From students

<table>

	<% @resources.each do |f| %>
		<% if !f.user.nil? && f.user.role == "student" %>
	
		<tr>
			<td>
	      		<%= link_to f.title, "#{f.url}", :target => "_blank" %> <br>
	      		<%= f.description %>
	      	</td>
			<td>
	      		<%= f.user.firstname %>
	      	</td>
			<td>
	      		<%= button_to "Edit", edit_resource_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
    	</tr>
		<% end %>
	<% end %>

</table><br>


From instructors

<table>

	<% @resources.each do |f| %>
		<% if !f.user.nil? && f.user.role == "instructor" %>
	
		<tr>
			<td>
	      		<%= link_to f.title, "#{f.url}", :target => "_blank" %> <br>
	      		<%= f.description %>
	      	</td>
			<td>
	      		<%= f.user.firstname %>
	      	</td>
			<td>
	      		<%= button_to "Edit", edit_resource_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
    	</tr>
    	<% end %>
	<% end %>

</table>

</div>