<div class="lab center large">

<h2>Labs</h2>

<%= button_to "Submit a lab", new_lab_path, method: "get", class: "btn btn-warning" %> <br>

<table>

	<% @labs.each do |f| %>
	
		<tr>
			<td>
	      		<%= f.assignment.title %>
	      	</td>
			<td>
	      		<%= link_to "#{f.user.firstname} #{f.user.lastname}", "#{f.url}", :target => "_blank" %> <br>
	      	</td>
	    	<td>
	      		<%= f.feeling %> <br>
	      		<%= f.comment %>
			</td>
			<td>
	      		<%= button_to "Edit", edit_lab_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
    	</tr>
 
	<% end %>

</table><br>

</div>