<div class="lab center medium">

<h2>Labs</h2>

<% if current_user.role == "student" %>
	<%= button_to "Submit a lab", new_lab_path, method: "get", class: "btn btn-warning" %> <br>
<% end %>

<% if @labs.empty? %>
	<p>No labs</p>
<% elsif current_user.role == "student" %>

<table>

	<% @labs.each do |f| %>

		<% if current_user.labs.include? (f) %>

		<tr>
			<td>
	      		<%= f.assignment.title %>
	      	</td>
			<td>
	      		<%= link_to "#{f.user.firstname} #{f.user.lastname}", "#{f.url}", :target => "_blank" %> <br>
	      	</td>
	    	<td>
	      		<%= f.feeling %> <br>
	      		<%= f.comment %>
			</td>
			<% if current_user.role == "student" %>
				<td>
		      		<%= button_to "Edit", edit_lab_path(f), :method => "get", :class => "btn btn-default" %>
				</td>
			<% end %>
    	</tr>

    	<% end %>

<% end %>

</table><br>

<% else %>

<table>

	<% @labs.each do |f| %>

		<tr>
			<td>
	      		<%= f.assignment.title %>
	      	</td>
	      	<% if current_user.role != "student" %>
			<td>
	      		<%= link_to "#{f.user.firstname} #{f.user.lastname}", "#{f.url}", :target => "_blank" %> <br>
	      	</td>
	      	<% end %>
	    	<td>
	      		<%= f.feeling %> <br>
	      		<%= f.comment %>
			</td>
			<td>
	      		<%= button_to "Edit", edit_lab_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
    	</tr>

	<% end %>

</table><br>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.lab" ).css({width: divwidth});
})

</script>