<div class="lab center small">

<h2>New Lab</h2>

<% if @assignments.empty? %>
    <p>There are no assignments to submit</p>
<% else %>

<%= form_for @lab, class: "form-group" do |f| %>

    <% options = [] %>
    <% @assignments.each do |assignment| %>
        <% assignment_array = [assignment.title, assignment.id] %>
        <% options << assignment_array %>
    <% end %>

    <label>Assignment</label> <br>
    <%= select_tag(:lab_assignment, options_for_select(options)) %> <br><br>

    <label>Link</label> <br>
    <%= f.text_field :url, class: "form-control" %> <br><br>

    <label>How do you feel about your lab?</label> <br>
    <%= select_tag(:feeling, options_for_select([
    		["I did excellently", "I did excellently"],
    		["I did well", "I did well"],
    		["I managed to complete it", "I managed to complete it"],
    		["I'm uncertain", "I'm uncertain"],
    		["I'm stuggling", "I'm stuggling"]
    	])) %> <br><br>

    <label>Comments</label> <br>
    <%= f.text_area :comment, class: "form-control" %> <br><br>

    <%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>

<% end %>

</div>