<% if current_user.role == "coordinator" %>

<div class="btn-group btn-group-lg navbar">
    <%= link_to "Users", "/users", :class => "btn btn-default" %>
    <%= link_to "Squads", "/squads", :class => "btn btn-default" %>
    <%= link_to "Events", "/events", :class => "btn btn-default" %>
    <%= link_to "Gists", "/gists", :class => "btn btn-default" %>
  	<%= link_to "Resources", "/resources", :class => "btn btn-default" %>
  	<%= link_to "Assignments", "/assignments", :class => "btn btn-default" %>
  	<%= link_to "Labs", "/labs", :class => "btn btn-default" %>
  	<%= link_to "Projects", "/projects", :class => "btn btn-default" %>
    <%= link_to "Me", "/users/#{current_user.id}", :class => "btn btn-default" %>
</div>

<% elsif current_user.role == "instructor" %>

<div class="btn-group btn-group-lg navbar">
    <%= link_to "Gists", "/gists", :class => "btn btn-default" %>
    <%= link_to "Labs", "/labs", :class => "btn btn-default" %>
    <%= link_to "Assignments", "/assignments", :class => "btn btn-default" %>
    <%= link_to "Squads", "/squads", :class => "btn btn-default" %>
    <%= link_to "Resources", "/resources", :class => "btn btn-default" %>
    <%= link_to "Projects", "/projects", :class => "btn btn-default" %>
    <%= link_to "Events", "/events", :class => "btn btn-default" %>
    <%= link_to "Users", "/users", :class => "btn btn-default" %>
    <%= link_to "Me", "/users/#{current_user.id}", :class => "btn btn-default" %>
</div>

<% else current_user.role == "instructor" %>

<div class="btn-group btn-group-lg navbar">
    <%= link_to "Gists", "/gists", :class => "btn btn-default" %>
    <%= link_to "Resources", "/resources", :class => "btn btn-default" %>
    <%= link_to "Assignments", "/assignments", :class => "btn btn-default" %>
    <%= link_to "Labs", "/labs", :class => "btn btn-default" %>
    <%= link_to "Projects", "/projects", :class => "btn btn-default" %>
    <%= link_to "Events", "/events", :class => "btn btn-default" %>
    <%= link_to "Squads", "/squads", :class => "btn btn-default" %>
    <%= link_to "Users", "/users", :class => "btn btn-default" %>
    <%= link_to "Me", "/users/#{current_user.id}", :class => "btn btn-default" %>
</div>

<% end %>