<!DOCTYPE html>
<html>
<head>
  <title>WDI Portal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="containter">

	<div class="row text-center">

<a href="/users/sign_in">Sign In</a>
<a href="/users/sign_up">Sign Up</a>
<a href="/users/sign_out">Sign Out</a>

		<h1>WDI NOTES</h1>

		<div class="btn-group btn-group-lg">
			<%= link_to "Gists", "/gists", :class => "btn btn-default" %>
		  	<%= link_to "Resources", "/resources", :class => "btn btn-default" %>
		  	<%= link_to "Assignments", "/assignments", :class => "btn btn-default" %>
		  	<%= link_to "Labs", "/labs", :class => "btn btn-default" %>
		  	<%= link_to "Projects", "/projects", :class => "btn btn-default" %>
		  	<%= link_to "Squads", "/squads", :class => "btn btn-default" %>
		  	<%= link_to "Events", "/events", :class => "btn btn-default" %>
		  	<%= link_to "Students", "/users", :class => "btn btn-default" %>
		  	<%= link_to "Users", "/users", :class => "btn btn-default" %>
		</div>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

	</div>

	<%= yield %>

</div>
</body>
</html>


