<!DOCTYPE html>
<html>
<head>
  <title>WDI Portal</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "bootstrap" %>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css"> -->
  <%= stylesheet_link_tag "stylesheet" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>

body {
	background-color: #E3E3E3;
	margin-bottom: 50px;
}

h1 {
	font-size: 87px;
	margin: 40px auto 30px auto;
	font-family: 'PT Sans Narrow', 'Arial narrow', Arial, sans-serif;
	font-weight: 700;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 31px;
	margin: 45px auto 20px auto;
}

.navbar a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
}

a, a:hover {
	color: Black;
}

table {
	border-collapse: separate;
	border-spacing: 0 18px;
}

table tr {
	border: 1px solid Grey;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 10px auto;
}

table tr td:first-child {
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

table tr td:last-child {
    border-radius: 0 4px 4px 0;
}

table td {
	padding: 20px;
}

div > form {
	width: 300px;
}

.center {
	float: none;
	margin: 0 auto;
}

.small {
	width: 350px;
}

.medium {
	width: 600px;
}

.large {
	width: 900px;
}

.squad table {
	min-width: 300px;
}

  </style>
</head>
<body>

<div class="containter">

	<div class="row text-center">

		<h1>WDI PORTAL</h1>

		<%= render partial: "/layouts/navbar" if user_signed_in? %>

		<% if !notice.nil? %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if !alert.nil? %>
			<p class="alert"><%= alert %></p>
		<% end %>

	</div>

	<%= yield %>

</div>
</body>
</html>